php_flag display_errors on
Options -Indexes
<IfModule mod_rewrite.c>
RewriteEngine On

#If testing on localhost should put project uncomment and replace ProjectName
RewriteBase /ProjectName
#If testing on hosting uncomment
#RewriteBase /

#Rewrite rules for the site
RewriteRule ^$ index.php [R]
RewriteRule ^audios/(.*)$ resources/audios/$1 [R,NC]
RewriteRule ^docs/(.*)$ resources/docs/$1 [R,NC]
RewriteRule ^images/(.*)$ resources/images/$1 [R,NC]
RewriteRule ^scripts/(.*)$ resources/scripts/$1 [R,NC]
RewriteRule ^videos/(.*)$ resources/videos/$1 [R,NC]
RewriteRule ^([A-Za-z0-9]*)$ views/$1View.php [NC]
RewriteRule ^([A-Za-z0-9]*)/([A-Za-z0-9]*)$ controllers/$1Controller.php?action=$2 [NC]

</IfModule>
